@import url("./reset.css");
@import url("./typos.css");
@import url("./zindex.css");
@import url("./theme.css");

html,
body,
#__next,
main {
  height: 100%;
  background-color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.max-w-prose {
  max-width: 60ch;
}
