/*
  This is a Custom CSS Reset made by Joshua Comeau which I like a lot:
  https://www.joshwcomeau.com/css/custom-css-reset/

  I updated some properties to reset undesired styles for certain HTML
  elements, such as buttons. :)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  margin: 0;
  border: unset;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
