:root {
  --primary: #fcda69;
  --supplementary: #8873ef;

  /* Greyscale system */
  --darkest-grey: #122640;
  --dark-grey: #617691;
  --grey: #d4dde9;
  --light-grey: #edf1f5;
  --lightest-grey: #f5f7fa;
  --white: #ffffff;

  /* Common elements colors */
  --default-text-color: var(--darkest-grey);
  --highlight-color: var(--supplementary);

  /* Components colors */
  --primary-button-bg-color: var(--supplementary);
  --primary-button-fg-color: var(--white);
  --secondary-button-bg-color: var(--white);
  --secondary-button-fg-color: var(--darkest-grey);
  --icononly-button-bg-color: var(--lightest-grey);
  --icononly-button-fg-color: var(--darkest-grey);
  --portrait-bg-color: var(--primary);
}
